{% extends 'base.html.twig' %}

{% if ( pin.id != null  ) %}
    {% set title = "Pintorest : Edit #" ~ pin.id %}
    {% set text = "Modifier cette Pin" %}
    {% set btn = "Modifier cette Pin" %}
{% else %}
    {% set title = "Pintorest : Nouveau" %}
    {% set text = "Nouveau Pin" %}
    {% set btn = "Create new Pin" %}
{% endif %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-title">
            <h4> {{text}} </h4>
        </div>
        <div class="card-body">
            {{ form_start(formulaire)}}
            {{ form_widget(formulaire) }}
            <input type="submit" value="{{btn}}">
            {{ form_end(formulaire)}}
        </div>
        <div class="card-footer">
            <h5> <a href="{{path("app_home")}}">Annuler</a></h5>
        </div>
    </div>
</div>
{% endblock %}