{% extends 'base.html.twig' %}

{% set len = pin.id %}

{% block title %}Pintorest : {{len}} {% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-title">
            <h2>{{pin.title}}</h2>
        </div>
        <div class="card-body">
            {{ pin.description}}
        </div>
        <div class="card-footer">
            <h5>
                <a href="{{path('app_update_pin',{ id : pin.id})}}"> Modifier</a>
                <a href="#" onclick="event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-delete-form').submit();">Supprime</a>
                <a href="{{path('app_home')}}">Back</a>
            </h5>
        </div>
        
        <form id="js-pin-delete-form" action="{{ path('app_delete_pin',{ id : pin.id})}}" method="DELETE"
            style="display:none;">
            <input type="hidden" name="_method" value="DELETE">
        </form>

    </div>
</div>
{% endblock %}  