{% extends 'layouts/base.html.twig' %}

{% if pin.id %}
{% set len = pin.id %}
{% endif %}

{% block title %}Pantorest : {{len}} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="m-auto col-lg-4 col-md-5 col-sm-6 col-6">
            <article class="pin bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <img class="w-100" 
                    src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/placeholder.jpeg')) | imagine_filter('squared_thumbnail_medium')}}"
                    alt="Image de pin">
                </div>
                <h2 class="mx-5 pl-3 pt-3">{{pin.title}}</h2>
                <p class="mx-5 pl-3 pb-3 text-mutted">
                    {{ pin.description}}
                </p>
                <div class="mx-5 mt-3">
                    {{ pin.createdAt | ago}}
                    <p>Submited by {{ pin.user.fullname}}</p>
                </div>
                <div class="card-footer p-3">
                    <h5>
                        <a href="{{path('app_update_pin',{ id : pin.id})}}"> Modifier</a>
                        <a href="#"
                            onclick="event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-delete-form').submit();">Supprime</a>
                        <a href="{{path('app_home')}}">Back</a>
                    </h5>
                </div>
                <form id="js-pin-delete-form" action="{{ path('app_delete_pin',{ id : pin.id})}}" method="post"
                    style="display:none;">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </article>
        </div>
    </div>
</div>
{% endblock %}